#logo {
    border-radius: 0px 0px 10px 10px;
    height: 160px;
    float: right;
    transition: all 0.5s ease-in-out;
    box-shadow: 1px 0px 5px;
}

.nav-link,
.nav-item {
    color: black;
    transition: all 0.4s ease-in-out;
    background-color: #f8f9fa;
    padding-left: 5px;
    padding-right: 5px;
}
.nav-link:hover {
    color: chocolate;
}

.bi-grip-vertical {
    color: chocolate;
}

.card {
    float: left;
    width: 25%;
}

.card {
    transition: all 0.5s ease;
}

#infos {
    border-radius: 10px;
    background-color: blanchedalmond;
    border-width: 50%;
}
#infos:hover {
    background-color: navajowhite;
    color: black;
}

.allServices {
    transition: all 0.3s ease-in-out;
}
.allServices:hover {
    background-color: blanchedalmond;
}

.h3 {
    border-bottom: 1px solid chocolate;
}

.footerLink {
    transition: all 0.4s linear;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    margin: 2px;
    text-decoration: none;
    color: black;
}

.footerLink:hover {
    color: chocolate;
    
}

#footerImg {
    transition: all 0.3s ease-in-out;
}

#footerImg:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 15px;
}
