#logo {
    border-radius: 0px 0px 10px 10px;
    height: 160px;
    float: right;
    transition: all 0.5s ease-in-out;
    box-shadow: 1px 0px 5px;
}

.nav-link,
.nav-item {
    color: black;
    transition: all 0.4s ease-in-out;
    background-color: #f8f9fa;
    padding-left: 5px;
    padding-right: 5px;
}
.nav-link:hover {
    color: chocolate;
}

.bi-grip-vertical {
    color: chocolate;
}

.card {
    float: left;
    width: 25%;
}

.card {
    transition: all 0.5s ease;
}

.card:hover {
    
    box-shadow: 10px 10px;
}

#infos{
    border-radius: 10px;
    background-color: blanchedalmond;
    border-width: 50%;
}
#infos:hover{
    background-color: coral;
    color: wheat;
}